---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import ClipboardSelect from "../components/ClipboardSelect";
import Button from "../components/button.astro";
import "../styles/global.css";
---

<Layout title="Create T3CF App" image="/img/t3-light.svg">
  <div
    class="inset-0 aspect-[960/540] w-[100%] bg-no-repeat bg-center bg-cover bg-[url('/img/top-wave.svg')]"
  >
    <Header />
    <div class="flex flex-col w-full justify-center">
      <div
        class="flex flex-col w-full text-center text-8xl max-lg:text-6xl max-sm:text-4xl text-white font-extrabold"
      >
        <h1 class="pt-10">The best way to start a</h1>
        <h1>
          <span class="text-blue-400">full-stack, </span>
          <span class="text-blue-700">typesafe</span>
        </h1>
        <h1>
          <span class="text-purple-700">Next.js </span> app
        </h1>
        <h1
          class="italic pt-4 max-sm:pt-1 text-8xl max-lg:text-6xl max-sm:text-4xl text-cforange font-eraser -rotate-6"
        >
          On Cloudflare
        </h1>
      </div>
      <div class="mt-4 flex w-full items-center justify-center gap-4 xl:mt-8">
        <Button
          href="/docs"
          openInNewTab={false}
          rounded="md"
          className="group"
          rounded="full"
          specialHover={true}
        >
          Documentation
          <svg
            class="stroke -mr-1 ml-2 mt-0.5 h-3 stroke-current stroke-2"
            fill="none"
            viewBox="0 0 10 10"
            aria-hidden="true"
          >
            <path
              class="opacity-0 transition group-hover:opacity-100"
              d="M0 5h7"></path>
            <path
              class="transition group-hover:translate-x-[3px]"
              d="M1 1l4 4-4 4"></path>
          </svg>
        </Button>
        <Button
          href="https://github.com/nimbus-hq/create-t3cf-app"
          openInNewTab={true}
          variant="secondary"
          rounded="full"
        >
          GitHub
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
            class="ml-2 h-3 fill-white"
          >
            <path
              d="M256 64C256 46.33 270.3 32 288 32H415.1C415.1 32 415.1 32 415.1 32C420.3 32 424.5 32.86 428.2 34.43C431.1 35.98 435.5 38.27 438.6 41.3C438.6 41.35 438.6 41.4 438.7 41.44C444.9 47.66 447.1 55.78 448 63.9C448 63.94 448 63.97 448 64V192C448 209.7 433.7 224 416 224C398.3 224 384 209.7 384 192V141.3L214.6 310.6C202.1 323.1 181.9 323.1 169.4 310.6C156.9 298.1 156.9 277.9 169.4 265.4L338.7 96H288C270.3 96 256 81.67 256 64V64zM0 128C0 92.65 28.65 64 64 64H160C177.7 64 192 78.33 192 96C192 113.7 177.7 128 160 128H64V416H352V320C352 302.3 366.3 288 384 288C401.7 288 416 302.3 416 320V416C416 451.3 387.3 480 352 480H64C28.65 480 0 451.3 0 416V128z"
            ></path>
          </svg>
        </Button>
      </div>
      <ClipboardSelect client:load />
      <div class="flex justify-between mt-20 w-full xl:mx-auto max-w-[1280px]">
        <div class="p-2 md:text-sm">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus sed
          corporis, illo doloremque qui ullam unde labore fuga reprehenderit eos
          ratione amet veniam natus, corrupti fugiat sapiente porro cupiditate
          quas!
        </div>
        <div class="p-2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolores
          consequuntur dolorum repellendus unde perspiciatis assumenda fugit
          sunt. Mollitia aut dolorem sint libero et voluptate perspiciatis quos,
          animi fugiat a.
        </div>
      </div>
    </div>
  </div>
  <div class="h-[100vh] bg-cforange"></div>
  <div
    class="inset-0 aspect-[960/540] w-[100%] bg-no-repeat bg-center bg-cover bg-[url('/img/bot-wave.svg')]"
  >
  </div>
</Layout>
