---
import Header from "../components/Header.astro";
interface Props {
  title: string;
  description?: string;
  image?: string;
}

const {
  title,
  description = "The best way to start a fullstack, typesafe Next.js app using cloudflare.",
  image = "/img/t3-dark.svg",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" content={image} />
    <title>{title}</title>
  </head>
  <body
    class="relative min-h-screen bg-gradient-to-t from-[#404041] to-[#131313]"
  >
    <div
      class="absolute inset-0 aspect-[960/540] w-[100%] bg-no-repeat bg-center bg-cover bg-[url('/img/top-wave.svg')] h-screen"
    >
      <div class="mx-auto max-w-[1280px]">
        <Header />
        <slot />
      </div>
    </div>
  </body>
</html>
<!-- TODO Fix the base dom white when scrolling. -->
