---
import "../styles/global.css";
interface Props {
  title: string;
  description?: string;
  image?: string;
}

const {
  title,
  description = "The best way to start a fullstack, typesafe Next.js app using cloudflare.",
  image = "/img/t3-light.svg",
} = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" content={image} />
    <title>{title}</title>
  </head>
  <body
    class="h-full relative bg-gradient-to-t from-[#131313] via-[#404041] -[#131313]"
  >
    <slot />
  </body>
</html>
<!-- TODO Fix the base dom white when scrolling. -->
